<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ru.agentlab.jfxed.figures/src/ru/agentlab/jfxed/figures/BootFigures.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ru.agentlab.jfxed.figures.BootFigures"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ru.agentlab.jfxed.figures"/>
</launchConfiguration>
