<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
   		point="ru.agentlab.jfxed.diagram">
         <diagram name="Диаграмма Анис" class="ru.agentlab.jfxed.diagramms.ActivityDiagramm.ClazzDiagram" ontoUri="http://www.agentlab.ru/jfxed/onto/anisik"/>
   </extension>
</plugin>
